*Makefile
*Makedeps
*DESCRIPTION
*.d
*.dSYM/
*.ts
*.tsa
*.dylib
*.a
*.fe
doc/*/*html
doc/NEWS*
doc/R.1
doc/manual/version.texi
src/library/Recommended/*
src/extra/intl/
src/main/R.bin
src/unix/Rscript
SVN-REVISION
bin/
build/
include/
library/
Makeconf
Makefrag.cc
Makefrag.cc_lo
Makefrag.cxx
Makefrag.m
SVN-REVISION-tmp
config.status
doc/FAQ
doc/RESOURCES
doc/html/resources.html
etc/Makeconf
etc/Renviron
etc/javaconf
etc/ldpaths
libtool
non-tarball
src/include/Rmath.h0
src/include/config.h
src/include/stamp-h
src/scripts/R.sh
src/scripts/Rcmd
src/scripts/f77_f2c
src/scripts/javareconf
src/scripts/mkinstalldirs
src/scripts/pager
src/scripts/rtags
acinclude.m4
aclocal.m4
autom4te.cache/
doc/html/index.html
